<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="head :: headerFragment (pageTitle='New post')">
    </head>
<body>

<div id="page">

    <div th:replace="nav :: nav"></div>

    <div class="container-wrap">
        <div class="content">
            <div class="row article" th:each="post : ${list}">
                <div class="col-md-10 col-md-offset-1">
                    <a th:href="${'/post/' + post.id}"><h3 th:text="${'Post #' + post.id}">Post #1</h3></a>
                </div>
<!--                <div class="col-md-10 col-md-offset-1 text-center">-->
<!--                    <p><img src="images/image.jpg"></p>-->
<!--                </div>-->
                <div class="col-md-8 col-md-offset-2 description">
                    <h4 class="description-text" th:text="${post.text}">Text</h4>
                    <button class="btn btn-sm btn-secondary like" th:text="${post.likes + ' ❤'}">0 ❤</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
