<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="style-nav" role="navigation">
    <div class="container-wrap">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-6">
                    <div id="style-logo"><a href="/">App name</a></div>
                </div>
                <div class="col-xs-6 text-right menu-1">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/new">New post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>

